<form @submit.prevent="signUp">
  <div class="">
    <label class="" for="">Email</label>
    <input
      class=""
      type="email"
      placeholder="dave@wuTangfinancial.com"
      v-model="email"
      id="email"
    />
  </div>
  <div class="">
    <label class="" for="">Password</label>
    <input
      class=""
      type="password"
      placeholder="************"
      v-model="password"
      id="password"
    />
  </div>
  <div class="">
    <label class="" for="">Confirm Password</label>
    <input
      class=""
      type="password"
      placeholder="************"
      v-model="confirmPassword"
      id="confirmPassword"
    />
  </div>
  <button class="" type="submit">Sign Up</button>
  <p class=""></p>
</form>
