@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Css */

/* COMPONENTS 
HOME
 NAV 
 IRON LOGO
SIGNIN
 SIGNUP
 NEW TASK

 TASK ITEMS
 FOOTER 
 */

/* ---------------------------------------------------------HOME----------------------------------- */
.nic-bg {
  background-image: url("https://res.cloudinary.com/dbmzbapuj/image/upload/v1665473326/task-bg_qev9ig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.signout {
  @apply bg-red-400 text-gray-200 p-2 rounded hover:bg-red-500 hover:text-gray-100;
}

/* ---------------------------------------------------------NAV----------------------------------- */
.nav-container {
  @apply w-full z-30 top-10 py-1 bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100 shadow-lg border-b border-blue-400;
}

.navbox {
  @apply w-full flex flex-col md:flex-row items-center justify-between mt-0 px-6 py-2 gap-2 md:gap-0;
}
.nav-title {
  @apply max-w-xs mt-2 text-xl text-gray-600;
}

.nav-time {
  @apply font-light text-xs md:text-sm  font-sans;
}

.nav-logout-box {
  @apply order-2 md:order-3 flex flex-wrap items-center justify-end mr-0 md:mr-4;
}

.todoapp-image-nav {
  background-image: url("https://www.pikpng.com/pngl/b/182-1828006_check-mark-icon-blue-clipart.png");
  background-size: 100%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.ironcheck-nav {
  @apply flex items-center flex-col md:flex-row gap-0 md:gap-3;
}
.usernav {
  @apply pr-2;
}
/* ---------------------------------------------------------IRON LOGO----------------------------------- */
.logo-title {
  @apply text-5xl text-sky-500 font-bold;
}
.image-container {
  @apply h-80 flex items-center justify-center flex-col;
}

.todoapp-image {
  background-image: url("https://www.pikpng.com/pngl/b/182-1828006_check-mark-icon-blue-clipart.png");
  background-size: 100%;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

.atodoapp-desc {
  @apply font-medium self-center md:text-sm text-xl text-gray-600;
}

/* ---------------------------------------------------------SIGNIN----------------------------------- */
.signin {
  @apply font-medium self-center text-xl sm:text-3xl text-gray-800;
}

.signin-container {
  @apply flex flex-col opacity-80 shadow-2xl bg-blue-300  px-4 px-6 md:px-8 lg:px-10 py-8 rounded-2xl  max-w-md;
}

.signin-center {
  @apply flex justify-center;
}

.signin-credentials {
  @apply mt-4 self-center text-xl text-sm text-gray-800;
}

.signin-email-label {
  @apply mb-1 text-xs  text-sm tracking-wide text-gray-600;
}

.signin-email {
  @apply text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400;
}

.signin-password {
  @apply text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400;
}
.signin-password-label {
  @apply mb-1 text-xs text-sm tracking-wide text-gray-600;
}

.register-now {
  @apply ml-0 inline-flex items-center text-gray-700 font-medium text-xs text-center;
}

.register-now-text:hover {
  text-decoration: underline;
  font-weight: bold;
}

.register-now-area {
  @apply flex justify-center items-center mt-6;
}

.eyeicon {
  @apply h-full  font-normal text-center  absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3;
}

.submit-button {
  @apply flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-500 hover:bg-blue-600 rounded-2xl py-2 w-full transition duration-150 ease-in;
}

.button-text {
  @apply text-xs ml-2 text-blue-500 font-semibold;
}

.nicbackground {
  background-image: url("https://res.cloudinary.com/dbmzbapuj/image/upload/v1665473330/sticknotes_kzfzni.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.errorsignin {
  @apply text-red-500 flex justify-center text-2xl;
}
/* ---------------------------------------------------------SIGNUP----------------------------------- */
.signup-container {
  @apply flex flex-col opacity-80 shadow-2xl bg-paper-color px-6 md:px-8 lg:px-10 py-8 rounded-3xl  max-w-md;
}

/* ---------------------------------------------------------NEW_TASK----------------------------------- */
.taskcreator-area {
  @apply min-h-full py-10 justify-center mx-2 md:mx-20 gap-2 grid gap-4  grid-cols-1 grid-rows-1 md:flex md:justify-center;
  /* @apply md:w-full py-6 pl-20 font-sans md:flex md:justify-center;
  width: 130vh; */
}

.taskcreator-container {
  @apply rounded-2xl  w-full md:w-3/6 p-2 bg-yellow-100 shadow-xl;
}
.taskcreator-container:hover {
  @apply font-medium bg-yellow-200;
}

.new-title {
  @apply bg-white p-2 rounded-2xl mt-1 border-b cursor-pointer;
}

.new-description {
  @apply bg-white p-2 rounded-2xl mt-1 border-b  cursor-pointer;
}
#newTaskDesc {
  @apply w-full text-base;
}

#newTaskTitle {
  @apply w-full text-base;
}
.errormsg {
  color: red;
  font-weight: 600;
}

/* ---------------------------------------------------------TASKITEM----------------------------------- */

.tasks {
  @apply min-h-full  justify-center md:mx-10 mx-2 gap-2 grid gap-4 lg:grid-cols-3  lg:grid-rows-1 grid-cols-1 grid-rows-1;
}

.tasks-td {
  font-size: 0.6rem;
}

.tasks-area {
  @apply w-full;
}

.tasks-container {
  @apply rounded-2xl  w-full  p-2 bg-yellow-100 shadow-xl;
}
.task-area-complete {
  @apply rounded-2xl  w-full  p-2 bg-gray-300 shadow-xl line-through;
}

.tasks-container:hover {
  @apply font-medium bg-yellow-200;
}

.task-recover {
  @apply flex flex-row justify-evenly;
}

.task-completed {
  @apply rounded-2xl flex flex-row items-center shadow-lg;
}

.task-completed:hover {
  @apply text-white bg-green-500;
}

.task-edit {
  @apply rounded-2xl w-20  bg-blue-200 shadow-lg
  font-mono py-1;
}

.task-edit:hover {
  @apply bg-blue-500 text-white;
}

.task-delete {
  @apply rounded-2xl bg-red-400 shadow-lg py-1;
}
.task-delete:hover {
  @apply bg-red-600 text-white;
}

.task-red {
  @apply bg-orange-300 rounded-2xl shadow-lg;
}

.task-red:hover {
  @apply text-white bg-orange-500;
}

.task-green {
  @apply bg-green-300  w-20 rounded-2xl shadow-lg;
}

.task-green:hover {
  @apply text-white bg-green-500;
}

.add-button {
  @apply rounded-2xl flex flex-row bg-blue-500 shadow-lg items-center mt-2 h-10 w-20 justify-center w-full;
}

.add-button:hover {
  @apply text-white bg-blue-600;
}

.edit-done-container {
  @apply flex  justify-around;
}

#task-time {
  @apply text-xs text-end;
}

#edittitle {
  @apply w-full border rounded-2xl;
}

#editdescription {
  @apply w-full border rounded-2xl mt-2;
}

.editinput-text {
  @apply mt-4;
}

.apply-edit {
  @apply bg-blue-500 border mt-2 px-2 text-white rounded-2xl w-full h-10;
}
/* ---------------------------------------------------------FOOTER----------------------------------- */
.footer {
  @apply relative w-full bottom-0 mt-10 md:mt-0;
}

.footer-area {
  @apply flex justify-center bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100  md:mt-0;
}

.footer-container {
  @apply max-w-screen-xl  px-4 py-2 flex flex-col items-center;
}

.github-web {
  @apply flex mt-2 space-x-6 text-gray-600;
}

.rights-reserved {
  @apply text-xs text-gray-800 mt-4 flex flex-row-reverse;
}

.footer-title {
  @apply max-w-xs mt-2 text-xl text-gray-600;
}

.todoapp-image-mini {
  background-image: url("https://www.pikpng.com/pngl/b/182-1828006_check-mark-icon-blue-clipart.png");
  background-size: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
