@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");

body {
}
.signin-center {
  @apply flex justify-center;
}

.signin-container {
  @apply flex flex-col opacity-80 shadow-2xl bg-paper-color  px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl  max-w-md;
}

.signin {
  @apply font-medium self-center text-xl sm:text-3xl text-gray-800;
}

.signin-credentials {
  @apply mt-4 self-center text-xl sm:text-sm text-gray-800;
}

.signin-email-label {
  @apply mb-1 text-xs  sm:text-sm tracking-wide text-gray-600;
}

.signin-email {
  @apply text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400;
}

.signin-password-label {
  @apply mb-1 text-xs sm:text-sm tracking-wide text-gray-600;
}

.signin-password {
  @apply text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400;
}

.submit-button {
  @apply flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-500 hover:bg-blue-600 rounded-2xl py-2 w-full transition duration-150 ease-in;
}

.register-now {
  @apply ml-0 inline-flex items-center text-gray-700 font-medium text-xs text-center;
}

.register-now-text:hover {
  text-decoration: underline;
  font-weight: bold;
}

.signup-container {
  @apply flex flex-col opacity-80 shadow-2xl bg-blue-300  px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl  max-w-md;
}

.image-container {
  @apply h-80 flex items-center justify-center flex-col;
}

.todoapp-image {
  background-image: url("/Users/nicguzzetti/Desktop/ironhack/final-boiler-plate/src/assets/1292906.png");
  background-size: 100%;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

.todoapp-image-mini {
  background-image: url("/Users/nicguzzetti/Desktop/ironhack/final-boiler-plate/src/assets/1292906.png");
  background-size: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.atodoapp-desc {
  @apply font-medium self-center text-sm sm:text-xl text-gray-600;
}

.taskcreator-area {
  @apply w-full p-8 flex justify-center font-sans;
}

.taskcreator-container {
  @apply rounded  w-3/6  p-2 bg-yellow-100;
}

.tasks-container {
  @apply rounded  w-full  p-2 bg-yellow-100;
}

.tasks {
  @apply flex flex-row  justify-center mx-40 gap-2;
}

.tasks2 {
  @apply grid grid-cols-1 md:lg:xl:grid-cols-3;
}

.tasks-area {
  @apply w-full;
}

.task-editdelete {
  @apply flex flex-row justify-evenly;
}

.footer-area {
  @apply bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100;
}

.footer-container {
  @apply max-w-screen-xl mt-20 px-4 py-2 flex flex-col items-center;
}

.github-web {
  @apply flex mt-2 space-x-6 text-gray-600;
}

.rights-reserved {
  @apply text-xs text-gray-800 mt-4 flex flex-row-reverse;
}

.nav-container {
  @apply w-full z-30 top-10 py-1 bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100 shadow-lg border-b border-blue-400;
}

.navbox {
  @apply w-full flex items-center justify-between mt-0 px-6 py-2;
}

.todoapp-image-nav {
  background-image: url("/Users/nicguzzetti/Desktop/ironhack/final-boiler-plate/src/assets/1292906.png");
  background-size: 100%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.ironcheck-nav {
  @apply flex flex-row gap-3;
}

.errormsg {
  color: red;
  font-weight: 600;
}

.task-completed {
  @apply rounded-lg flex flex-row items-center shadow-lg;
}

.task-completed:hover {
  @apply text-white;
}

.task-edit {
  @apply rounded-lg flex flex-col items-center bg-blue-200 shadow-lg
  font-mono;
}

.task-edit:hover {
  @apply bg-blue-300 text-white;
}

.task-delete {
  @apply rounded-lg flex flex-row bg-red-300 shadow-lg font-mono;
}
.task-delete:hover {
  @apply bg-red-400 text-white;
}

.task-red {
  @apply bg-red-400 rounded-lg shadow-lg;
}

.task-red:hover {
  @apply text-white bg-red-500;
}

.task-green {
  @apply bg-green-400 rounded-lg shadow-lg;
}

.task-green:hover {
  @apply text-white bg-green-500;
}

.add-button {
  @apply rounded-lg flex flex-row bg-blue-500 shadow-lg items-center mt-2 h-10 w-10 justify-center;
}

.add-button:hover {
  @apply text-white bg-blue-600;
}

.tasks-td {
  font-size: 0.6rem;
}

/* .apply-edit {
  @apply bg-blue-300 text-white mt-2 rounded-sm w-12 shadow-xl;
}

.edit-container {
} */
